* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100vw;
    height: 100vh;
    background-color: #3F72AF;
    display: flex;
    justify-content: center;
}

.main {
    width: 41.67%;
    height: 44%;
    border-radius: 20px;
    background-color: #F9F7F7;
    margin-top: 5.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    margin-top: 4.86%;
}
.main-header-title {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 40px;
    line-height: 46px;
    color: #112D4E;
}


.main-form {
    margin-top: 2.582%;
    width: 250px;
    height: 32px;
    display: flex;
}

.main-form-text {
    width: 83%;
    height: 100%;
    border: 1px solid gray;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #7B7B7B;
    font-family: Ubuntu;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    padding: 3.4% 4.332%;
}

.main-form-button {
    width: 45px;
    height: 32px;
    background-color: #3F72AF;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-line {
    margin-top: 3.8%;
    width: 83.334%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-list {
    margin-top: 2.38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 81.67%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}


.main-list::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: lightgray;
}
.main-list::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
.main-list::-webkit-scrollbar-thumb {
    background-color: #3F72AF;
    border-radius: 10px;
}


.main-list-elem {
    width: 97%;
    background-color: #DBE2EF;
    border-radius: 5px;
    height: 15.46%;
    display: flex;
    align-items: center;
    padding: 5.61% 2% 5.61% 4.245%;
}

.main-list-elem:not(:first-child) {
    margin-top: 6.51%;
}

.main-list-elem-item {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-list-elem-item-checkbox {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.main-list-elem-item-checkmark {
    width: 100%;
    height: 100%;
}

.main-list-elem-item-checkbox+.main-list-elem-item-checkmark::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #3F72AF;
    border-radius: 5px;
    background-size: 100%;
    box-sizing: border-box;
}
.main-list-elem-item-checkbox:checked+.main-list-elem-item-checkmark::before {
    transform: scale(1.1);
    border: none;
    background-image: url("source/checkMark.png");
}


.main-list-elem-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #DBE2EF;
    color: #3F72AF;
    font-family: Ubuntu;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    padding: 3.4% 2% 3.4% 2%;
    margin-left: 2%;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.empty-title {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 22px;
    line-height: 24px;
    color: #112D4E;
    padding: 10px;
    text-align: center;
}

.main-list-elem-remove {
    background-color: #3F72AF;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-list-elem-remove-img {
    transform: rotate(45deg);
}
@media (max-width: 992px) {
    .main {
        width: 60%;
    }
}

@media (max-width: 600px) {

    .main {
        width: 70%;
    }
}

@media (max-width: 480px) {

    .main {
        width: 80%;
    }
}