.parent {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px 50px;
    text-align: center;
}

.parent *{
    background-color: teal;
    color: white;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
}

.child1 {
    grid-column-start: 1;
    grid-column-end: 5;
}
